<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameintegration.update">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <provider
            android:name="com.gameintegration.update.ClientUpdateFileProvider"
            android:authorities="${applicationId}.gameintegration.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
